.App {
  text-align: center;
}
.projectBtn1 {
  display: flex;
  justify-content: space-between;
}
.projectBtn2 {
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  background-color: rgba(226, 225, 225, 0.671);
  padding: 2rem;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 25, 121);
  background: linear-gradient(
    317deg,
    rgba(0, 25, 121, 1) 0%,
    rgba(100, 14, 176, 1) 58%,
    rgba(229, 0, 255, 0.42200630252100846) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.photoContainer {
  display: flex;
}
.photo {
  height: 500px;
  width: auto;
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.cardImg {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 863px) {
   
  .header,
  .about{
    flex-direction: column;
    width: 100%;
    padding: 1%;
  }
  .photo{
    width: 100%;
    height: auto;
  }
  .cardImg{
    width: 100%;
    height: auto;
  }
  .projects{
    flex-direction: column;
    width: 100% !important;
  }
}